:root {
    --blue: #81BCF8;
    --dark-blue: #366594;
    --light-blue: #DEF3FF;
    --hover-blue: #afd0ee;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 90px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    border: 10px solid var(--white);
    z-index: 1;
}

.navbar a {
    font-size: 20px;
    font-family: "Tiny5";
    padding: 18px 30px 20px 30px;
    border: 8px solid var(--white);
    border-radius: 20px;
    text-decoration: none;
    color: var(--dark-blue);
    margin-top: 40px;
    background-color: var(--light-blue);
    transition: 300ms ease-in;
}

.navbar a:hover {
    border-radius: 20px;
    color: var(--white);
    margin-top: 30px;
    background-color: var(--hover-blue);
    transition: 300ms ease-in;
}